@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type='number'] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

button {
  box-shadow: none !important;
}

/* MODAL */
.ant-modal-wrap.ant-modal-centered {
  justify-content: center !important;
  align-items: center !important;
}
.ant-modal-header {
  flex: 1 !important;

  padding: 16px 24px !important;
}

.ant-modal-header .ant-modal-title {
  font-weight: 500 !important;
}

.ant-modal-body {
  flex: 1 !important;
  padding: 0 24px 0 24px !important;
  overflow-y: auto;
}

.ant-modal-content {
  max-height: 90vh !important;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: 0 !important;
}

.ant-modal-footer {
  flex: 1 !important;

  padding: 1rem 1.6rem !important;
}
